<h1>模板里绑定数据</h1>
      <h2>{{title}}</h2>
 
      <h6>{{userInfo.username}}</h6>

<h1>模板里绑定属性</h1>
        <div title="提示信息">
          鼠标秒上去
        </div>

        <br>
        <br>
        <div [title]="student">
          张三
        </div>
        <br>


<h1>angualr模板里面绑定HTML</h1>
      <div>
        {{content}}
      </div>

      <span [innerHTML]='content' class="red"></span>

<h1>angualr模板简单运算</h1>
1+2 = {{1+2}}



<h1>angualr数据循环</h1>
<ul>
  <li *ngFor="let item of arr">{{item}}</li>
</ul>

<ol>
  <li *ngFor="let item of list">{{item}}</li>
</ol>

<ul>
  <li *ngFor="let item of userlist">{{item.username}}-{{item.age}}</li>
</ul>

<ul>
  <li *ngFor="let item of cars">
    <h2>{{item.cate}}</h2>
    <ol>
      <li *ngFor="let car of item.list">{{car.title}}--{{car.price}}</li>
    </ol>
  </li>
</ul>
