<h2>todoList</h2>
<div class="todoList">
  <input class="form_input" type="text" [(ngModel)]="keyword"  (keyup)="doAdd($event)" />  

  <h3>待办事项</h3>
  <ul> 
      <li *ngFor="let item of todoList;let key=index" [hidden]="item.status==1">
        <input type="checkbox" (change)="chechboxChange()" [(ngModel)]="item.status" />{{item.title}}------- <button (click)="deletey(key)">X</button> 
      </li>
  </ul>
  <h3>已完成事件</h3>
  <ul> 
      <li *ngFor="let item of todoList;let key=index" [hidden]="item.status==0">
        <input type="checkbox" (change)="chechboxChange()" [(ngModel)]="item.status" />{{item.title}}------- <button (click)="deletey(key)">X</button> 
      </li>
  </ul>

  <pre>
    {{todoList | json}}
  </pre>
</div>